<app-header></app-header>

<div class="container">
    <h3>Lista de productos</h3><br>

    <button type="button" class="btn btn-info" (click)="nuevoproducto()">Nuevo producto</button>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Categoría</th>
                <th scope="col">Imagen</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Producto of productos" (click)="editarproducto(Producto.id)">
                <th scope="row">{{ Producto.id }}</th>
                <td class="title">{{ Producto.title }}</td>
                <td>{{ Producto.price }}</td>
                <td class="descripcion">{{ Producto.description }}</td>
                <td>{{ Producto.category.name }}</td>
                <td>
                    <div *ngFor="let image of Producto.images">
                        <img [src]="image" class="img-thumbnail" style="width: 100px; height: 100px;">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>  

<app-footer></app-footer>  